{
  "env": {
    "commonjs": false,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:react/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "import"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-key": "warn",
    "react/no-unescaped-entities": "warn",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "import/named": "off",
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
//
