{
  "env": {
    "commonjs": false,
    "es6": true,
    "node": true
  },
  // "extends": "react-app",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["import"],
  "rules": {
    "no-console": "off",
    "no-eval": "error",
    "import/first": "warn"
  }
}
